h2 {
    border: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
    position: relative;
    text-align: center;
}

header {
    width: 100%;
    /*background-color: #94b1e3;*/
    height: 115px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

header .search-box {
    width: 100%;
    min-height: 10px;
    margin: 0px auto;
    position: relative;
    padding: 5px;
    overflow: hidden;
}

header .search-box form {
    width: 100%;
}

header .search-box form input[type="text"] {
    width: 84%;
    padding: 15px;
    border: 1px solid black;
    float: left;
}

header .search-box form button {
    width: 12%;
    padding: 15px;
    border: 1px solid black;
    float: left;
    cursor: pointer;
    background-color: white;
    color: black;
    background-position: 2px 2px;
    /*background-repeat: no-repeat;*/
}


.container {
    text-align: relative;
    border: white;
    height: 90px;
    padding: 80px;
    position: relative;
    top: 50%;
    margin-top: -20px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
