header {
    width: 80%;
    margin: auto;
    background: grey;
    color: white;
    padding-top: 5px;
    min-height: 80px;
}

#header {
    text-align: center;
    font-family: Arial
}

.home {
    margin: auto;
    overflow: hidden;
    font-family: arial;
    font-weight: bold;
}

.tengah {

    width: 80%;
    margin: auto;
    overflow: hidden;
    font-family: arial;

}

.tengah p {
    font-size: 14px;
}

.input {
    float: left;
    margin: 2rem 0 1rem;
    position: relative;

}

.file :hover {
    background-color: green;
    cursor: pointer;
}

.submit :hover {
    background-color: grey;
    cursor: pointer;

}

.tengah label {
    font-size: 14px;
}

footer {
    width: 78%;
    margin: auto;
    padding: 15px;
    margin-top: 15px;
    color: #ffffff;
    background-color: gray;
    text-align: center;
}
